
.title-panel-admin{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: white;
  font-size: 14pt;
  text-align: start;
  margin-bottom: 0;
  padding: 0.5em 1em 1em;
}

.input-text{
  label{
    width: 100%;
    height: max-content;
    font-size: 10pt;
  }
}

.title-seccion-admin{
  color: white;
}
.row-panel-admin{
  width: 100%;
  height: auto;
  min-height: 88vh;
}

.ad-modal{
  border: 1px solid white !important;
  .p-dialog-header {
    border-bottom: 0 none;
    background: #00031e !important;
    color: #0ae98a !important;
    padding: 1.5rem;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }
  .p-dialog-content {
    background: #00031e !important;
    color: whitesmoke !important;
  }
  .row-form{
    .input-text{
      width: 100%;
      margin-bottom: 3%;
      .p-inputtext{
        width: 100%;
        height: 35px;
        font-size: 10pt;
        border-radius: 5px;
      }
    }
  }
  .modal-footer{
    margin-top: 2%;
    button{
      margin-left: 5px;
      background: #00031e !important;
      color: #0ae98a !important;
    }
  }
}

.menu-admin{
  .perfil-panel-menu{
    justify-content: start;
  }
  @media (max-width: 576px){
    .perfil-panel-menu{
      display: block;
    }
  }
}

.img-banner{
  width: 100%;
  height: 200px;
  border-radius: 5px;
  border: 1px solid whitesmoke;
  margin: 0.5rem auto 0.5rem;

  img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: scale-down;
  }
  .span-img{
    width: 100%;
    height: 100%;
    top: -97px;
    border-radius: 5px;
    .div-icons{
      display: flex;
      width: 90px;
      justify-content: space-between;
    }
    span{
      width: 100%;
      height: 100%;
      svg{
        font-size: 25pt;
        display: none;
      }
    }
  }

}
.img-banner:hover{
  .span-img{
    top: -198px;
    position: relative;
    display: flex;
    left: 0px;
    cursor: pointer;
    transition-duration: 200ms;
    background: rgba(0, 0, 0, 0.7);

    span{
      display: flex;
      position: relative;
      justify-content: center;
      border: 1px solid white;
      align-items: center;
      border-radius: inherit;
      svg{
        display: block;
      }
    }
  }
}