
.title-panel-admin{
  color: white;
  font-size: 20pt;
  text-align: start;
  margin-top: 2%;
}

.input-text{
  label{
    width: 100%;
    height: max-content;
  }
}

.title-seccion-admin{
  color: white;
}
.row-panel-admin{
  width: 100%;
  height: auto;
  min-height: 83vh;
}