
.title-panel-admin{
  color: white;
  font-size: 20pt;
  text-align: start;
  margin-bottom: 0;
  background: #007279 ;
  padding: 1em;
  padding-top: 0.5em;
}

.input-text{
  label{
    width: 100%;
    height: max-content;
    font-size: 10pt;
  }
}

.title-seccion-admin{
  color: white;
}
.row-panel-admin{
  width: 100%;
  height: auto;
  min-height: 88vh;
}

.ad-modal{
  border: 1px solid white !important;
  .p-dialog-header {
    border-bottom: 0 none;
    background: #00031e !important;
    color: #0ae98a !important;
    padding: 1.5rem;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }
  .p-dialog-content {
    background: #00031e !important;
    color: whitesmoke !important;
  }
  .row-form{
    .input-text{
      width: 100%;
      margin-bottom: 3%;
      .p-inputtext{
        width: 100%;
        height: 35px;
        font-size: 10pt;
        border-radius: 5px;
      }
    }
  }
  .modal-footer{
    margin-top: 2%;
    button{
      margin-left: 5px;
      background: #00031e !important;
      color: #0ae98a !important;
    }
  }
}

