//INPUT TEXT
.input-text{
  width: 100%;
  margin-bottom: 4px;
  text-align: start;
  .p-inputtext{
    width: 100%;
    height: 35px;
    font-size: 10pt;
    border-radius: 5px;
  }
  .p-password{
    width: 100%;
    height: 35px;
    font-size: 10pt;
    border-radius: 5px;
  }
}

//PANEL PRINCIPAL
.container-p{
  width: 100%;
  height: 100%;
  padding:12px;
  margin: auto;
}
.panel-container{
  width: 100%;
  padding: 12px;
}

//MENU HEADER
.div-head-menu{
  color: #fff;
  border-color: #007A7F;
  background-color: transparent !important;
  .p-menubar{
    background-color: transparent !important;
    border: 1px solid transparent;
  }
  span{
    color: whitesmoke !important;
  }
  svg{
    width: 20px;
    height: 20px;
    color: whitesmoke;
    margin-right: 5px;
  }
  .p-menuitem-link{
    border-radius: 0% !important;
  }
  .p-menuitem-link:not(.p-disabled):hover {
    background:  transparent !important;
    transform: scale(1.05);
    transition-duration: 200ms;

    span{
      color: #0ae98a !important;
      filter: drop-shadow(0px 0px 8px #0ae98a);
    }
    svg{
      width: 20px;
      height: 20px;
      color: #0ae98a !important;
      margin-right: 5px;
    }
  }
  .p-menuitem-text{
    font-size: 10pt;
  }
  .p-menubar-root-list {
    width: 100%;
    justify-content: end;
  }
}

.button-mode{
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
  background: transparent !important;
  border: transparent !important;
  padding: 0 !important;
  text-shadow: 0 0 10px 1px white !important;
  color: goldenrod !important;
  span{
    display: none;
  }
}
.button-mode:focus{
  border: transparent !important;
  box-shadow: none !important;
}
.button-mode:hover{
  transform: scale(1.2);
  transition-duration: 200ms;
}
.logo-menu{
  height: 70px;
}
.logo-menu:hover{
  transform: scale(1.1);
  transition-duration: 200ms;
  cursor: pointer;
}


//PANEL MENU
.menu-panel{
  width: 100%;
  height: 90%;
  background: #007279 !important;
  padding: 1em;

  .p-panelmenu-header > a {
    padding: 1.25rem;
    border: 1px solid transparent !important;
    color: white !important;
    background: #007A7F !important;
    font-weight: 500 !important;
    border-radius: 6px;
    transition: box-shadow 0.2s;
    font-size: 10pt;
  }
  .p-panelmenu-header > a:hover{
    background: #00031e !important;
    color: #0ae98a !important;
  }

}

//TABLE
.table-header{
  display: flex;
  justify-content: space-between;
}
.button-plus{
  color: #0ae98ab5 !important;
  border: 1px solid transparent !important;
}
.button-plus:hover{
  border: 1px solid #0ae98a61 !important;
  background: #007a7f80 !important;
  color: #0ae98ab5 !important;
}
.button-plus:focus{
  border: transparent !important;
  box-shadow: none !important;
}
.p-datatable .p-datatable-header {
  background: transparent !important;
  color: white !important;
  border: 1px solid #dee2e6;
  border-width: 1px 0 1px 0;
  padding: 1rem 1rem;
  font-weight: 700;
}
.p-datatable .p-datatable-thead > tr > th {
  text-align: left;
  padding: 1rem 1rem;
  border: 1px solid #dee2e6;
  border-width: 0 0 1px 0;
  font-weight: 700;
  color: #007A7F !important;
  background: transparent !important;
  transition: box-shadow 0.2s;
  font-size: 10pt;
}
.p-datatable .p-datatable-tbody > tr {
  background: transparent !important;
  color: #007279 !important;
  transition: box-shadow 0.2s;
}
.p-datatable .p-datatable-tbody > tr > td {
  text-align: left;
  border: 1px solid transparent !important;
  border-width: 0 0 1px 0;
  padding: 0.7rem 0.7rem;
  font-size: 10pt;
}

.p-paginator {
  background: transparent !important;
  color: white !important;
  border: solid #e9ecef;
  border-width: 0;
  padding: 0.5rem 1rem;
  border-radius: 6px;
}

.list-option-button{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;

}
.table-title{
  color: #0ae98a;
}



//THEME WHITE
.theme-light{
  height: auto;
  background: whitesmoke;
  color: #007279;
}

//THEME DARK
.theme-dark{
  height: auto;
  background: #00031e;
  color: whitesmoke;
  font-family: Apple;

}

