
//THEME WHITE

.theme-light{
  .title-p-1{
    font-size: 30pt;
    font-weight: 400;
    color: #0ae98a;
  }
  .title-p{
    font-size: 30pt;
    font-weight: 400;
    //color: whitesmoke;
    text-align: left;
    span{
      color: #0ae98a;
    }
  }
  .div-text{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    .text-p{
      font-size: 16pt;
      text-align:left;
      span{
        color: #0ae98a;
      }
    }
  }

  .img-p{
    margin-top: 2vh;
    text-align: end;
    img{
      width: 100%;

      border-radius: 8px;
    }
  }

  .div-button{
    button{
      background: #00031e;
      border: solid 1px #0ae98a;
      color: whitesmoke;
      font-weight: bold;
    }
    button:hover{
      background: #00031e !important;
      border: solid 1px #0ae98a !important;
      color: #0ae98a;
    }
    button:active{
      opacity: 0.8 !important;
      box-shadow: none !important;
    }
    button:focus{
      box-shadow: none !important;
    }
  }

  //CAROUSEL
  .panel-carousel-home{
    background: center;

    .title-carusel{
      color: #0ae98a;
    }
    .desc-carousel{
      color: whitesmoke;
    }
    .p-carousel-item{
      background: #11164059;
      border-radius: 8px;
      margin: 5px;
      border: solid 1px #0ae98a;
    }
    .b-carousel{
      background: #007279;
    }
    .b-carousel:hover{
      background: #005459 ;
    }
  }

  //SECCION CURSOS
  .seccion-1{
    height: 100vh;
  }
  .seccion-2{
    width: 70%;
    height: 100vh;
    margin: auto;
    text-align: left;
    //background-color: #005459;
    .desc-sec2{
      width: 100%;
      font-size: 14pt;
      margin: auto;
      text-align: left;
    }
  }
  .title-seccion2{
    margin-top: 5%;
    font-size: 30pt;
    font-weight: bold;
    color: #0ae98a;
    margin-bottom: 4%;
  }

}

//THEME DARK
.theme-dark{
  .title-p-1{
    font-size: 30pt;
    font-weight: 400;
    color: #0ae98a;
  }
  .title-p{
    font-size: 30pt;
    font-weight: 400;
    color: whitesmoke;
    text-align: left;
    span{
      color: #0ae98a;
    }
  }
  .div-text{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    .text-p{
      font-size: 16pt;
      text-align:left;
      span{
        color: #0ae98a;
      }
    }
  }

  .img-p{
    margin-top: 2vh;
    text-align: end;
    img{
      width: 100%;
      border-radius: 8px;
      filter: drop-shadow(0px 0px 80px #0ae98a);
    }
  }

  .div-button{
    button{
      background: white;
      border: solid 1px #0ae98a;
      color: #00031e;
      font-weight: bold;
    }
    button:hover{
      background: #00031e !important;
      border: solid 1px #0ae98a !important;
      color: #0ae98a;
    }
    button:active{
      opacity: 0.8 !important;
      box-shadow: none !important;
    }
    button:focus{
      box-shadow: none !important;
    }
  }

  //CAROUSEL
  .panel-carousel-home{
    background: center;

    .title-carusel{
      color: #0ae98a;
    }
    .desc-carousel{
      color: whitesmoke;
    }
    .p-carousel-item{
      background: #11164059;
      border-radius: 8px;
      margin: 5px;
      border: solid 1px #0ae98a;
    }
    .b-carousel{
      background: #007279;
    }
    .b-carousel:hover{
      background: #005459 ;
    }
  }

  //SECCION CURSOS
  .seccion-1{
    height: 100vh;
  }
  .seccion-2{
    width: 100%;
    height: 100vh;
    margin: auto;
    text-align: left;
    //background-color: #005459;
    .desc-sec2{
      width: 100%;
      font-size: 14pt;
      margin: auto;
      text-align: left;
    }

    .bm-pasos{
      width: 60%;
      height: 100px;
      color: #005459;
      margin: 2% auto 1%;

      li{
        opacity: 1;
      }
      a{
        margin: auto;
        text-align: center;
        background: transparent;
        span:first-child{
          background: whitesmoke;
        }
        span:last-child{
          color: whitesmoke !important;
          font-weight: 500;
        }
      }
    }
  }
  .title-seccion2{
    margin-top: 5%;
    font-size: 30pt;
    font-weight: bold;
    color: #0ae98a;
    margin-bottom: 4%;
  }

}