.panel-p{
  width: 100%;
  height: 100%;
  padding:12px;
}
.title-p{
  color: rgba(204, 183, 236, 0.66);
  font-size: 30pt;
  font-weight: bold;
}
.div-text{
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  .text-p{
    color: #b49fcb;
    font-size: xx-large;
    text-align:center;
  }
}

.img-p{
  margin-top: 2vh;
  text-align: end;
  img{
    border-radius: 8px;
  }
}

.div-button{
  button{
    background: #250254;
    border: solid 1px rgba(126, 55, 236, 0.66);
  }
  button:hover{
    background: rgba(126, 55, 236, 0.66) !important;
    border: solid 1px rgba(126, 55, 236, 0.66) !important;
  }
  button:active{
    background: rgba(182, 147, 234, 0.66) !important;
    box-shadow: none !important;
  }
  button:focus{
    box-shadow: none !important;
  }
}

//CAROUSEL
.panel-carousel-home{
  background: rgb(50, 1, 114) !important;
  .title-carusel{
    color: rgba(126, 55, 236, 0.66);
  }
  .desc-carousel{
    color: #b49fcb;
  }
}

//SECCION CURSOS
.seccion-1{
  height: 100vh;
  display: contents;
}
.seccion-2{
  height: 100vh;
  display: contents;

}
.title-seccion2{
  color: rgba(204, 183, 236, 0.66);
  font-size: 30pt;
  font-weight: bold;
}