@import "./Styles/Components.scss";
@import "./Styles/Administration.scss";
@import "./Styles/Footer.scss";
@import "./Styles/Home.scss";
@import "./Styles/Login.scss";
@import "./Styles/PanelAgenda.scss";
@import "./Styles/PanelMisCursos.scss";
@import "./Styles/Perfil.scss";
@import "./Styles/Register.scss";
:root{
  --light: white;
  --dark: rgb(17 22 64);

  .App {
    display: flex;
    width: 100vw;
    height: 100vh;
    text-align: center;
    margin: auto;
    overflow-x: hidden;
  }
}
