@import "./Styles/Components.scss";
@import "./Styles/Administration.scss";
@import "./Styles/Footer.scss";
@import "./Styles/Home.scss";
@import "./Styles/Login.scss";
@import "./Styles/PanelAgenda.scss";
@import "./Styles/PanelMisCursos.scss";
@import "./Styles/Perfil.scss";
@import "./Styles/Register.scss";
@import 'react-big-calendar/lib/sass/styles';
@import 'react-big-calendar/lib/addons/dragAndDrop/styles'; // if using DnD
@import 'react-big-calendar/lib/css/react-big-calendar.css';
@import "./Styles/Calendar";

:root{
  --light: white;
  --dark: rgb(17 22 64);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  .App {
    display: flex;
    width: 100vw;
    height: 100vh;
    text-align: center;
    margin: auto;
    overflow-x: hidden;
    background: #00031e;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  }
}
body{

  .p-dialog {
    width: 90% !important;
  }
  @media (min-width: 576px) {
    .p-dialog {
      width: 80% !important;
    }
  }
  @media (min-width: 768px) {
    .p-dialog {
      width: 70% !important;
    }
  }
  @media (min-width: 992px) {
    .p-dialog {
      width: 60% !important;
    }
  }
}
